[package]
name = "kafka_oneshot"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rdkafka = "0.34.0"
tokio = {version = "1.33.0", features = ["full"]}

